@*TODO: (We will want to make our major changes on a new page, to preserve this page's current functionality.)*@

@*TODO: Modify this to use KnockoutJS wherever possible.
    TODO: Modify so that we have a single window, with a button to click to beautify css.
    TODO: Experiment with lighter-weight alternatives to CodeMirror (343KB!) Check these out: (Note that we need syntax-highlighting and possibly minification, as well.)
      http://jakiestfu.github.io/Behave.js/ (23.9 KB) -- My jsFiddle: http://jsfiddle.net/eLzp09a2/ -- [NOTE: Does not include syntax highlighting or error-checking functionality.]
      http://codepress.sourceforge.net/ -- Untested, small size (entire zip is only 66 KB.)
      Find others here: http://blog.dreamcss.com/wysiwyg-editor/javascript-source-code-editors/*@

@*Possible long term goal:
    Single textarea, preloaded with current css rules (if any).
    --When loading rules, beautify before displaying in textarea.
    --When saving, minify the rules before storing in database.*@

@*Codemirror*@
<script src="~/Scripts/codemirror.js"></script> 
<script src="~/Scripts/css.js"></script> 
<link rel="stylesheet" type="text/css" href="~/Content/codemirror.css"/>

@*Contains options from original page that need to be modified.*@
<script src="~/Scripts/format.js"></script>

@*Beautification script*@
<script src="~/Scripts/cssbeautify.js"></script>


<h2>CSS Editor and Beautifier</h2>

<div>
    <h3>Unformatted CSS:</h3>
    <textarea id="raw" rows="22" autofocus="autofocus" spellcheck="false" onchange='format()' onkeydown='format()'>menu{color:red} navigation{background-color:#333 /* darkgrey */}</textarea>
</div>

<div>
    <h3>Beautified CSS:</h3>
    <textarea id="beautified" rows="22" readonly></textarea>
</div>