@{
    ViewBag.Title = "Web Controls Sandbox";
}

<div class="jumbotron">
    <h1>Web Controls Sandbox</h1>
    <p class="lead">This is a Sandbox/Demo project for learning how to implement selected form elements and web controls.</p>
    <p><a href="https://en.wikipedia.org/wiki/Web_development" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Typeahead</h2>
        <p>
            Typeahead provides incremental search functionality for text input elements (also known as autocomplete). This example uses Twitter's <a href="https://en.wikipedia.org/wiki/Incremental_search">typeahead.js</a> jQuery plugin.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Incremental_search">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cascading DropDown</h2>
        <p>Cascading DropDown refers to a series of DropDown lists where one DropDownList is dependent on the parent or previous DropDownList and is populated based on the item selected by the user.</p>
        <p><a class="btn btn-default" href="http://www.ajaxcontroltoolkit.com/CascadingDropDown/CascadingDropDown.aspx">Learn more &raquo;</a></p>
    </div>
</div>