@{
    ViewBag.Title = "Typeahead - Web Controls Sandbox";
}

<h2>Typeahead</h2>
<br />
<form>
    <label for="clientSearch">Select a Client</label>
    <br />
    <input id="clientSearch" class="typeahead" type="text" placeholder="Clients" autocomplete="off" />
    <br />
    <br />
    <label for="idField">Selected Client's Id:</label>
    <br />
    <input id="idField" class="typeahead" type="text" placeholder="Id (Ego?) (Superego?)" value="" disabled />
</form>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/typeahead.bundle.js"></script>

<script>

    $(function () {
        var clients = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('ClientName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '../GetClients?q=%QUERY',
                wildcard: '%QUERY'
            }
        });

        clients.initialize();

        $('#clientSearch').typeahead({
            hint: true,
            highlight: true,
            minLength: 1,
            matcher: function () { return true; }
        }, {
            name: 'clients',
            displayKey: 'ClientName',
            source: clients.ttAdapter()
        })
            .on('typeahead:asyncrequest', function () {
                $('.tt-input').addClass('tt-spinner');
            })
            .on('typeahead:asynccancel typeahead:asyncreceive', function () {
                $('.tt-input').removeClass('tt-spinner');
            })
            .on('typeahead:select', function (obj, client) {
                $('#idField').val(JSON.stringify(client.ClientId));
            })
            .on('blur', function () {
                if ($('#clientSearch').val() === "") {
                    $('#idField').val("");
                }
            })
            .on('keypress', function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode === '13') {
                    if ($('#clientSearch').val() === "") {
                        $('#idField').val("");
                    }
                }
            });
    });

</script>